<div class="mobile__menu">
    <div class="mobile__menu__inner">
    <form action="/search" class="mobile__search__form mobile__item" method="get">
        <input type="text" placeholder="Type your search" class="mobile__search__input">
        <button type="button" class="search__button mobile__search__button button nav__item" >
            {% include 'mobile-search-icon' %}
        </button>
    </form>
    {% for link in linklists.header-menu.links %}
        <a href="{{ link.url }}" class="nav__link mobile__item mobile__nav__link {% if link.title == 'sale' %}sale__link{% endif %}">{{ link.title }}</a>
    {% endfor %}
    </div>
</div>

{% schema %}
{
"name": "Mobile_menu",
"settings": [
{
"type": "font_picker",
"id": "heading_font",
"label": "Heading font",
"default": "helvetica_n4"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}