body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

body {
  line-height: 1;
  font-size: 88%; }

* {
  user-select: none !important; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

select:focus-visible {
  outline: none; }

button {
  border: none;
  background: none;
  cursor: pointer; }

.main__body {
  position: relative; }

.content_for_layout {
  margin-top: 20px; }

.header__container, .container {
  width: 84%;
  margin: 0 auto; }

.white__bg {
  background: #ffff; }

.header {
  padding: 29px 0; }
  .header__inner, .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.nav__item:not(:last-child) {
  margin-right: 32px; }

.nav__link {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #202020; }

.sale__link {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #CC0000; }

.cart__button {
  position: relative; }
  .cart__button svg {
    width: 24px;
    height: 24px; }
  .cart__button__counter {
    background: #CC0000;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    top: -6px;
    right: -7px; }
  .cart__button__mobile {
    display: none; }

.main:not(.index__page) {
  margin-top: 20px; }

.main__intro {
  position: relative; }
  .main__intro__text {
    width: 100%;
    height: 100%;
    padding-top: 232px;
    padding-bottom: 56px;
    position: relative;
    z-index: 2; }
  .main__intro__title {
    font-family: 'Goudy Bookletter 1911';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    width: 563px;
    margin: 0 auto 24px auto; }
  .main__intro__price {
    font-family: Mulish;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF; }
  .main__intro__sale {
    text-decoration: line-through;
    font-weight: 400;
    opacity: 0.4;
    margin-left: 20px; }

.main__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: -1; }
  .main__img__overlay {
    object-fit: unset;
    background: rgba(32, 32, 32, 0.75);
    display: none;
    z-index: 1; }

.sale_price {
  font-family: Mulish;
  color: #B4B4B4;
  text-decoration: line-through;
  font-weight: 400;
  margin-left: 20px; }

.start__shopping__btn {
  padding: 14px 24px;
  margin-top: 33px;
  margin-right: auto;
  margin-left: auto;
  background: #CC0000;
  border: 1px solid #950000;
  box-sizing: border-box;
  box-shadow: inset 0px -2px 2px rgba(32, 32, 32, 0.33);
  border-radius: 4px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-shadow: 0px -1px 0px rgba(32, 32, 32, 0.33);
  width: fit-content; }

.hide {
  display: none !important; }

.mobile__menu__icon {
  display: none; }

.mobile__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px; }

.mobile__menu__opened__icon {
  z-index: 4;
  position: relative;
  margin-bottom: 83px; }

.mobile__menu {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  background: #131824;
  z-index: 3;
  transition: all .3s ease-in-out; }
  .mobile__menu__inner {
    margin: 0 auto;
    padding: 20px; }
  .mobile__menu.closed {
    transform: translateX(-100%); }
  .mobile__menu.open {
    transform: translateX(0px); }

.mobile__search__form {
  position: relative;
  width: 100%;
  margin-top: 39px; }

.mobile__search__input {
  background: transparent;
  width: 100%;
  color: rgba(255, 255, 255, 0.33);
  font-size: 16px; }
  .mobile__search__input::placeholder {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.33); }

.mobile__search__button {
  position: absolute;
  right: 0; }

.mobile__nav__link {
  text-align: left;
  line-height: 30px; }

.mobile__nav__link:not(.sale__link) {
  color: #FFFFFF; }

.custom_input {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  width: max-content;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #D8D8D8; }
  .custom_input__minus, .custom_input__plus {
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 48px;
    font-weight: bold;
    font-size: 21px; }
  .custom_input__field {
    width: 63px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.13);
    text-align: center; }
    .custom_input__field::-webkit-outer-spin-button, .custom_input__field::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }

.custom_select {
  background: white;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  width: 293px;
  position: relative;
  display: block;
  cursor: pointer; }
  .custom_select select {
    cursor: pointer;
    border: none;
    width: 100%;
    -webkit-appearance: none;
    padding: 16px 40px 16px 12px;
    background: transparent;
    position: relative;
    z-index: 2; }
  .custom_select option {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 0px 1px 0px;
    padding: 16px 0px 16px 12px;
    cursor: pointer; }

.select-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; }

.product__item {
  display: flex; }

.product__left__side {
  width: 58%; }

.product__right__side {
  padding-left: 20px; }

.product__title {
  font-family: Goudy Bookletter 1911;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #202020;
  margin-bottom: 38px; }

.product__option__title {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 8px; }

.product__price {
  margin-top: 18px;
  margin-bottom: 34px;
  display: flex; }
  .product__price__value {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #CC0000; }
  .product__price__tax {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #232231;
    text-transform: capitalize;
    margin-left: 9px; }

.product__description {
  font-family: Mulish;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #202020;
  margin-top: 46px;
  padding-bottom: 79px; }

.product__add-to-cart {
  display: flex;
  align-items: center; }

.product__add-to-cart-button {
  background: #CC0000;
  border: 1px solid #950000;
  box-sizing: border-box;
  box-shadow: inset 0px -2px 2px rgba(32, 32, 32, 0.33);
  border-radius: 4px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 15px;
  padding: 14px 84px;
  width: 262px;
  position: relative; }
  .product__add-to-cart-button.preload {
    color: #CC0000; }

.product__preloader {
  display: none; }
  .product__preloader.preload {
    display: block; }

.swiper-container {
  width: 100%;
  height: 100%; }

:root {
  --swiper-navigation-size: 44px; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 0px; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 0px; }

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: 'prev'; }

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 28px; }

.swiper-button-next, .swiper-button-prev {
  top: 24px;
  height: 100%;
  width: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(32, 32, 32, 0.15);
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13);
  transition: all .3s ease-in-out; }

.swiper-slide.swiper-slide-active {
  cursor: pointer; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  background-size: cover;
  background-position: center; }

.mySwiper2 {
  height: 80%;
  width: 100%;
  margin-bottom: 16px; }

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 0;
  position: relative; }

.thumb-button-next, .thumb-button-prev {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  top: 50%; }
  .thumb-button-next:hover .thumb-button-next svg path,
  .thumb-button-next .thumb-button-prev svg path, .thumb-button-prev:hover .thumb-button-next svg path,
  .thumb-button-prev .thumb-button-prev svg path {
    fill: #B4B4B4; }

.thumb-button-next {
  right: 15px; }

.thumb-button-prev {
  left: 15px; }
  .thumb-button-prev svg {
    transform: rotate(-180deg); }

.mySwiper .swiper-slide {
  max-width: 64px !important;
  max-height: 64px;
  opacity: 0.4; }

.mySwiper .swiper-slide-thumb-active {
  opacity: 1; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.main__body {
  position: relative; }

.cart__deleted__item {
  /*display: none;*/
  padding: 0 18px 20px 18px; }
  .cart__deleted__item .cart__item__title {
    margin-bottom: 8px; }

.view__cart__button {
  color: #202020;
  background: #FFFFFF;
  border: 1px solid #202020;
  padding: 14px 0;
  width: 119px; }

.empty__cart__shop__btn {
  margin-top: 17px; }

.cart__cart__is__empty {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #202020;
  padding: 0 20px 20px 20px;
  text-align: center; }

.cart__minus, .cart__plus, .cart__input__field {
  height: 32px; }

.cart__minus, .cart__plus {
  width: 32px; }

.cart__input__field {
  width: 61px; }

.cart__page__wrapper {
  z-index: 100;
  position: fixed;
  right: 0;
  top: 0;
  width: 360px;
  background: #ffffff;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.13); }

.cart__page__inner {
  display: flex;
  flex-direction: column;
  max-height: 100vh; }

.cart__proceed_to_checkout {
  display: flex;
  justify-content: space-between;
  margin-top: 12px; }

.cart__proceed_to_checkout__button {
  color: #FFFFFF;
  background: #CC0000;
  border: 1px solid #950000;
  margin-left: 15px;
  padding: 14px 0;
  width: 190px; }

.cart__button {
  border-radius: 4px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center; }

.cart__header {
  background: rgba(32, 32, 32, 0.05);
  display: flex;
  justify-content: space-between;
  padding: 12px 20px 12px 18px; }

.cart__footer {
  background: rgba(32, 32, 32, 0.05);
  padding: 18px 18px 15px 18px;
  position: relative;
  z-index: 200; }

.cart__subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .cart__subtotal__text, .cart__subtotal__number {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #202020; }

.cart__items__count {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #B4B4B4; }

.cart__content {
  padding-top: 29px;
  overflow-y: auto;
  background: #FFFFFF; }

.cart__item {
  border-bottom: 1px solid rgba(32, 32, 32, 0.05);
  display: flex;
  padding-bottom: 16px;
  margin-bottom: 24px; }
  .cart__item__custom__input {
    width: 125px; }
  .cart__item__info {
    margin-left: 16px;
    padding-right: 30px;
    margin-top: 5px; }
  .cart__item__image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover; }
    .cart__item__image__wrapper {
      padding-left: 18px; }
  .cart__item__title {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #202020;
    margin-bottom: 16px;
    display: block; }
  .cart__item__price {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #CC0000;
    margin-bottom: 16px; }

.donut {
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc( 50% - 16px);
  left: calc( 50% - 20px);
  border-radius: 50%;
  border: 0.3rem solid white;
  border-top-color: #c00;
  animation: 1.5s spin infinite linear; }

@keyframes spin {
  to {
    transform: rotate(360deg); } }

@media (max-width: 1200px) {
  .header__container, .container {
    width: 90%; }
  .header {
    padding: 25px 0; }
  .product__left__side {
    width: 50%; } }

@media (max-width: 1024px) {
  .header__container, .container {
    width: 95%; }
  .nav__item:not(:last-child) {
    margin-right: 25px; }
  .header {
    padding: 22px 0; } }

@media (max-width: 992px) {
  .mySwiper2 {
    height: auto; }
    .mySwiper2 .swiper-slide {
      min-height: 370px; }
  .mySwiper .swiper-slide {
    max-height: 44px; }
  .product__add-to-cart {
    flex-direction: column;
    align-items: normal; }
  .product__add-to-cart-button {
    width: 158px;
    padding: 14px 33px;
    margin-left: 0;
    margin-top: 15px; }
  .header {
    padding: 20px; }
  .header__logo__img {
    width: 200px; }
  .nav__link.mobile__nav__link {
    display: block; }
  .header {
    padding: 15px 0; } }

@media (max-width: 767px) {
  .nav__link {
    display: none; }
  .mobile__menu__icon {
    display: block; }
  .nav__link, .sale__link {
    font-size: 19px; }
  .mySwiper2 .swiper-button-next, .swiper-button-prev {
    width: 30px; }
  .mySwiper2 .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px; }
  .mySwiper2 .swiper-slide {
    min-height: 300px; }
  .product__item {
    display: flex; }
  .header__logo__img {
    width: 200px; }
  .nav__item:not(:last-child) {
    margin-right: 10px; } }

@media (max-width: 576px) {
  .thumb-button-next, .thumb-button-prev {
    display: block; }
  .main {
    margin-top: 0; }
  .product__title {
    padding: 0 20px; }
  .product__description {
    padding: 0 20px 47px 20px;
    margin-top: 22px; }
  .product__add-to-cart {
    flex-direction: row;
    align-items: center; }
  .product__add-to-cart-button {
    width: 158px;
    padding: 14px 0px;
    margin-left: 15px;
    margin-top: 0; }
  .product__item {
    display: flex;
    flex-direction: column; }
  .product__left__side {
    width: unset; }
  .mySwiper .swiper-wrapper {
    justify-content: center; }
  .product__right__side {
    margin-top: 16px;
    padding-left: 0; }
  .product__option__title {
    font-size: 16px; }
  .product__select option {
    font-size: 12px; }
  .product__price__value {
    font-size: 24px; }
  .product__price {
    margin-bottom: 54px; }
  .mobile__grey__wrapper {
    background: rgba(32, 32, 32, 0.05);
    padding: 20px; }
  .product__price__tax {
    font-size: 13px; }
  .product__input__field {
    font-size: 16px; }
  .product__add-to-cart-button, .product__description {
    font-size: 16px; }
  .product__title {
    text-align: center;
    font-size: 21px;
    line-height: 29px; }
  .header__logo__img {
    width: 170px; }
  .header {
    padding: 20px; }
  .header__container, .container {
    width: 100%; }
  .main__intro__title {
    width: 320px; }
  .main__img__overlay {
    display: block; } }

@media (max-width: 376px) {
  .cart__page, .cart__page__wrapper {
    width: 100%; }
  .product__select {
    width: 100%; }
  .main__intro__title {
    padding: 0 40px;
    width: unset;
    margin: 0 0 24px 0; }
  .main__intro__text {
    padding-top: 244px; }
  .search__button {
    display: none; }
  .search__button.mobile__search__button {
    display: unset; } }

