{% comment %}{% section 'mobile-menu' %}{% endcomment %}
{% section 'header' %}
<main>
    <section class="main">
        <div class="main__intro">
            <div class="main__img__overlay main__img"></div>
            <img class="main__img" src="{{ 'intro-bg.png' | asset_url }}">
            <div class="main__intro__text">
                <h1 class="main__intro__title">
                    Fenrir The Monster Wolf of Norse Mythology Necklace
                </h1>
                    <p class="main__intro__price">$19.95
                        <span class="main__intro__price main__intro__sale">$29.95</span>
                    </p>
                <button class="start__shopping__btn button">Start Shopping</button>
            </div>
        </div>
    </section>
</main>