<header class="header">
    <h1 class="header__title">SOME TEXT IN HERE TO TEST</h1>
    <ul class="nav header__nav">
        <li class="nav__item"><a href="" class="nav__link">link</a></li>
    </ul>
</header>
